.estilo {
    background-color: rgb(216, 223, 230);
}

.container-fluid {
    margin: 20px;
    font-size: 16px;
    font-family: Blinker; 
    padding: 10px;
}

#cabecalho {
    margin: center;
    text-align: center;
    padding-top: -10px;
    padding-bottom: 25px;
}

#rodape {
    text-align: center;
    padding-top: 100px;
}

#sobre, #contato {
    padding-top: 20px; 
}

.sobre:hover {
    text-decoration: underline;
}
.contato:hover {
    text-decoration: underline;
}